@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

html,
::before,
::after {
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #f4f4f4;
	color: #222;
}

a {
	text-decoration: none;
	color: inherit;
}

/** Header **/
.header {
	height: 70px;
	background: #1c2e4a;
	width: 100%;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.254);
}

.header form {
	margin-left: 100px;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 3px;
	outline: none;
	background: none;
	display: flex;
	align-items: center;
}

.header input {
	min-width: 400px;
	height: inherit;
	padding-left: 10px;
	border: none;
	background: none;
	color: white;
}

.header input:focus {
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
	outline: none;
	border: none;
	background: none;
}

.header button {
	height: inherit;
	width: 35px;
	border: none;
	background: none;
	color: white;
	cursor: pointer;
}

/* Sidebar */
.sidebar {
	width: 250px;
	height: inherit;
	background: #1c2e4a;
	transition: all 0.5s ease;
	border-right: 1px solid rgba(255, 255, 255, 0.205);
	box-shadow: 2px 0 3px rgba(0, 0, 0, 0.2);
}

.sidebar h2 {
	font-size: 22px;
	color: white;
	line-height: 70px;
	text-align: center;
	background: #1c2e4a;
	user-select: none;
	font-weight: 500;
}

.sidebar ul a {
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
	line-height: 65px;
	font-size: 18px;
	color: white;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(255, 255, 255, 0.254);
	transition: 0.3s ease-in-out;
}

.sidebar li:hover a {
	background: rgba(255, 255, 255, 0.1);
}

/** Main Content **/

.main {
	display: flex;
	height: calc(100vh - 70px);
}

.content {
	height: inherit;
	background-color: #1c2e4a;
	width: 100%;
	color: white;
	padding-left: 15px;
	padding-top: 15px;
}

/** Login page **/

.login-form button {
	margin-top: 15px;
}

.login-form {
	height: 100dvh;
	margin: 0;
}

/** Audio **/

.audio {
	height: 50px;
	width: 500px;
}

ul {
	padding: 0;
}

.account h2 {
	margin: 40px 0;
}

.account a {
	font-size: 18px;
}

.podcast_name {
	font-size: 20px;
	margin-right: 15px;
}

.podcast_author {
	font-size: 24px;
	color: rgb(255, 193, 7);
}

.podcast_list {
	margin-top: 30px;
}

.podcast_link {
	font-size: 20px;
	font-weight: 600;
	text-decoration: underline;
	color: rgb(182, 174, 174);
	padding-bottom: 2px;
}

.podcast_description {
	margin: 15px 0;
	font-size: 18px;
	color: #d3d1d1;
}

.podcast_date {
	font-size: 16px;
	color: #a9a4a4;
	font-style: italic;
}

.home h1 {
	margin-bottom: 15px;
}

.home h2 {
	font-size: 30px;
	margin-bottom: 15px;
}

.home p {
	font-size: 18px;
	color: #d3d1d1;
}

.home a {
	color: white;
}

.subs li {
	display: flex;
	align-items: center;
	margin: 20px 0;
}

.subs span {
	font-size: 26px;
	padding-right: 15px;
}

.update {
	margin: 10px 0;
}
