<header>
    <nav>
        <a href="{{path('app_home')}}">Accueil</a>
        <a href="{{path('app_account_self_user_details')}}">Mon espace</a>
        <a href="{{path('app_logout')}}">Se déconnecter</a>
    </nav>
</header>