<div class="sidebar">
    <ul>
     <li><a href="{{path('app_home')}}">Accueil</a></li>
     <li><a href="{{ path('app_account_podcasts') }}">Mes podcasts</a></li>
     <li><a href="{{ path('app_account') }}">Mon compte</a></li>
     <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
    </ul>
</div>
