<div class="sidebar">
    <ul>
        <li><a href="{{ path('app_home') }}"><i class="fas fa-home"></i> Accueil</a></li>
        <li><a href="{{ path('app_account_podcasts') }}"><i class="fas fa-microphone"></i> Mes podcasts</a></li>
        <li><a href="{{ path('app_account.get') }}"><i class="fas fa-user"></i> Mon compte</a></li>
        <li><a href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i> Déconnexion</a></li>
    </ul>
</div>